In [ ]:
Introduction

This is information about the Australian FootBall League including information about playerId,displayName,height,weight,dob,position,
origin. We collect them here on Kaggle.com. 
We want to study player statistics for the Australian Rules Football League (AFL), use Machine Learning to determine who the main players are, predict performance performance and results. 
Our aim is to filter information about the players to select the best players. 
Important players' performance that no one has noticed before. 
With scoring competitions in the AFL as popular as any other sport, surely this is just waiting for Data Science to take over and pick a winner like never before.

In [ ]:
playerId
dob: date of birth
height_cm: height in cm
weight_kg: weight in kg
nationality_name: nationality
nation_position: position played in his country
body_type: body type of a player
nation_logo_url: the url where the logo of the country of the player is saved
nation_flag_url: the url where the flag of the country of the player is saved

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv(r"C:\Users\HP\Desktop\Anaconda\players.csv")

In [6]:
data.columns

Index(['playerId', 'displayName', 'height', 'weight', 'dob', 'position',
       'origin'],
      dtype='object')

In [9]:
data[['height', 'weight']]

      height  weight
0        181      81
1        181      81
2        198      83
3        189      80
4        187      85
...      ...     ...
1490     180      83
1491     190      87
1492     172      82
1493     183      89
1494     189      79

[1495 rows x 2 columns]